page-login {
  .content {
        height: 100%;
        width: 100%;
    }
    .img-login {
        padding: 30px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        img {
            width: 100px;
            height: 100px;
        }
    }
    .transparent-form{
        background-color: rgba(222, 222, 222, 0.4);
        border-radius: 10px;        
    }    
    .inputs-list{
        margin-bottom: 15px;
    }

}
