<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bar">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="img-login">
    <img src="assets/bg_login.jpg" alt="">
  </div>
  <div>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm, loginForm.controls.email.errors?.pattern)" novalidate>
      <ion-list class="inputs-list">
        <ion-item class="transparent-form">
          <ion-label stacked>E-mail:</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="credential.email" required
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"></ion-input>
        </ion-item>
        <ion-item class="transparent-form">
          <ion-label stacked>Senha:</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="credential.password" required></ion-input>          
        </ion-item>
      </ion-list> 
      
      <button ion-button margin-bottom color="dark" clear small type="button" (click)="goSignup()">Cadastro</button>
      <button ion-button margin-bottom color="dark" clear small type="button" (click)="forgotPassword()">Esqueci minha senha</button>

      <button ion-button block color="darkgrey" type="submit">Entrar</button>
    </form>
  </div>

  
</ion-content>
