<!--
  Generated template for the Chat page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bar">
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Chat</h1>
</ion-content>
