<!--
  Generated template for the NewVisit page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="bar">
    <ion-title> Agendar compromisso </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="newVisitForm" (ngSubmit)="saveVisit(newVisitForm.value, newVisitForm.valid)" novalidate>
    <ion-list>
      <ion-item>
        <ion-input placeholder="Nome do cliente" clearInput type="text" formControlName="clientName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Descrição" clearInput formControlName="description"></ion-textarea>
      </ion-item>
      <div formGroupName="address">
        <ion-item>
          <ion-input placeholder="Rua" clearInput type="text" formControlName="street"></ion-input>
        </ion-item>      
        <ion-item>
          <ion-input placeholder="Número" clearInput type="number" formControlName="streetNumber"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="CEP" clearInput type="number" formControlName="zipCode"></ion-input>
        </ion-item>
      </div>
      <ion-item>
        <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dateDay" placeholder="Data"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-datetime displayFormat="HH:mm" formControlName="dateHour" placeholder="Horário"></ion-datetime>
      </ion-item>
    </ion-list>
    <button ion-button color="darkgrey" block>Salvar Compromisso</button>
  </form>
</ion-content>
