<ion-header>
  <ion-navbar color="bar">
    <ion-title>
      Minhas Conversas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
   <ion-item *ngFor="let i of [1, 2, 3, 4, 5]" (click)="goChat()">
    <ion-avatar item-left>
      <img src="https://randomuser.me/api/portraits/thumb/men/{{i}}.jpg">
    </ion-avatar>
    <h2>Finn</h2>
    <h3>Don't Know What To Do!</h3>
    <p>I've had a pretty messed up day. If we just...</p>
  </ion-item>
</ion-content>
