page-home {
    .info {
        padding-top: 20px;
        text-align: center;
        span {
            font-weight: bolder;
            display: block;
        }        
        ion-icon {
            font-size: 7em;
        }
    }
    .address {
        display: flex;
        flex-direction: row;
        .address-info {
            width: 90%;
        }
        .button-navigate { 
            margin-left: 4px;           
            ion-icon {
                font-size: 2em;
            }
        }
    }
}
