<ion-header>
  <ion-navbar color="bar">
    <ion-title>Minha Agenda</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="loaded && visits.length">
    <ion-item *ngFor="let visit of visits">
      <ion-avatar item-left>
        <p><b color="primary">{{visit.date | date:'dd/MM'}}</b></p>
        <p><b color="primary">{{visit.date | date:'HH:mm'}}</b></p>        
      </ion-avatar>
      <h2>{{visit.clientName}}</h2>
      <div class="address">
        <div class="address-info">
          <p text-wrap>{{visit.description}}</p>
          <p text-wrap><b>Endereço: </b>{{visit.address?.street}} - {{visit.address?.streetNumber}}</p>
          <p text-wrap><b>Cep:</b> {{visit.address?.zipCode}}</p>
        </div>
        <div class="button-navigate" (click)="launchNavigate(visit.address)">
          <ion-icon name="navigate" color="primary"></ion-icon>
        </div>
      </div>
    </ion-item>
  </ion-list>
  
  <p *ngIf="loaded && !visits.length" text-center class="info">
    <ion-icon name="information-circle" color="primary"></ion-icon>  
    <span>Vocẽ ainda não possui compromissos registrados, cadastre aqui os seus compromissos para se organizar melhor!</span>
  </p>

  <ion-fab bottom right>
    <button ion-fab color="lightdark" (click)="goNewDate()">
      <ion-icon name="add"></ion-icon>
    </button>    
  </ion-fab>
</ion-content>
