page-finish-signup {
    .card-photo {
        display: flex;
        flex-direction: row;
        .photo-container {
            .photo-user {
                max-width: 100px;
                margin-left: 8px;              
            }
        }
    }
}
