<!--
  Generated template for the FinishSignup page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bar">
    <ion-title>Estamos quase lá!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value, signupForm.valid)" novalidate>
    <ion-list>
      <ion-card class="card-photo">
        <div class="photo-container">
          <img src="assets/male-user.png" class="photo-user" *ngIf="!photoBase64"/>
          <img [src]="photoBase64" class="photo-user" *ngIf="photoBase64"/>
          <button ion-button icon-left color="dark" type="button" (click)="getPhoto()">
            <ion-icon name="camera" color="darkgrey"></ion-icon>
            Camera
          </button>
        </div>
        <ion-card-content>
          <p>
            Insira aqui a sua foto. Isso deixa o seu perfil mais interessante para os clientes!
          </p>
        </ion-card-content>
      </ion-card>
      <ion-item>
        <ion-label color="primary" floating>Nome</ion-label>
        <ion-input formControlName="firstName" clearInput type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Sobrenome</ion-label>      
        <ion-input formControlName="lastName" clearInput type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Cidade</ion-label>            
        <ion-input formControlName="city" clearInput type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Estado</ion-label>            
        <ion-input formControlName="state" clearInput type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>CEP</ion-label>
        <ion-input formControlName="zipCode" clearInput type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Email</ion-label>      
        <ion-input formControlName="email" clearInput type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Senha</ion-label>      
        <ion-input formControlName="password" clearInput type="password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block color="darkgrey" type="submit">Finalizar Cadastro</button>
  </form>

</ion-content>
