page-account {
    .loading {
        display: flex;
        flex-direction: row;
        justify-content: center;

        ion-spinner *
        {
            width: 60px;
            height: 60px;
            stroke: map-get($colors, 'primary');;
        }
    }
    .profile {
        .img {
            display: flex;
            flex-direction: row;
            justify-content: center;
            img {
                max-width: 100%;
                max-height: 100px;
                border-radius: 50%;
                border: 1px solid map-get($colors, 'primary');
            }
        }
    }
}
