<!--
  Generated template for the Account page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bar">
    <ion-title>Minha Conta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <h1>Minha Conta</h1>
  <div class="loading">
    <ion-spinner *ngIf="loading">
    </ion-spinner>
  </div>

  <div class="profile"  *ngIf="!loading"> 
    <div class="img">
      <img [src]="user.installer.photo" alt="Foto do Perfil">
    </div>
    <ion-list padding-top>
      <ion-item>
        <p><b>Nome:</b> {{ user.installer.user.firstName }} {{ user.installer.user.lastName }}</p>
        <p><b>Endereço:</b> {{ user.installer.city }}, {{ user.installer.state }}</p>
        <p><b>Cep:</b> {{ user.installer.zipCode }}</p>
        <p><b>Email:</b> {{ user.installer.user.email }}</p>
      </ion-item>
    </ion-list>
  </div>
  <button ion-button block color="darkgrey" (click)="logout()">Sair</button>
</ion-content>
