page-signup {
    .label-page {
        font-size: 1.4em;
    }

    .loading {
        min-height: 350px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        ion-spinner * {
            width: 28px;
            height: 28px;
            stroke: #444;
            fill: #222;
        }    
    }


    .info {
        padding-top: 20px;
        text-align: center;
        span {
            font-weight: bolder;
            display: block;
        }        
        ion-icon {
            font-size: 7em;
        }
    }
}
