<!--
  Generated template for the Signup page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bar">
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-list> 
    <ion-item>
      <ion-input placeholder="Seu nome FrioPeças" clearInput type="text" [(ngModel)]="searchName" (ngModelChange)='search()'></ion-input>
    </ion-item>
  </ion-list>

  <div class="loading" *ngIf="isLoading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <p *ngIf="!searchedOnce && !isLoading" text-center class="info">
    <ion-icon name="information-circle" color="primary"></ion-icon>
    <span>Insira o seu nome cadastrado no ambiente FrioPeças para que seu cadastro seja iniciado!</span>
  </p>

  <ion-list *ngIf="searchedOnce && installers && !isLoading">
    <p color="dark" text-center class="label-page" *ngIf="installers.length > 1">Quem é você?</p>   
    <p color="dark" text-center class="label-page" *ngIf="installers.length === 1">Este é você?</p>   
    <ion-card *ngFor="let installer of installers" (click)="finishSignup(installer)">
      <ion-card-header no-padding padding-left>
        <b>{{installer.nome}}</b>
      </ion-card-header>
      <ion-card-content>
        <p>{{installer.cidade}}, {{installer.estado}}</p>
        <p>CEP: {{installer.numcep}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <p *ngIf="searchedOnce && installers.length === 0 && !isLoading" text-center class="info">
    <ion-icon name="sad" color="primary"></ion-icon>  
    <span>Que pena, nenhum registro foi encontrado com o nome informado.</span>
  </p>
</ion-content>
